/* Colors */
:root{
    --PrimaryColor: rgb(255, 115, 0);
    --HoverColor: rgb(197, 89, 0);
    --whiteColor: #fff;
    --blackColor: #000000;
    --textColor: grey;
    --whiteColorDeam: #f0f0f0;
    --greyBg: rgb(199, 199, 199);
    --greyText: rgb(170, 168, 168);
    --inputColor:rgb(207, 207, 207);
}

.popular{
    padding-top: 15rem;
}